<div id="register">
    <h1>Register</h1>
    <form id="register">
        <input type="text" placeholder="Username" name="username" id="username"/><br>
        <input type="password" placeholder="Password" name="Password" id="Password"/><br>
        <input type="password" placeholder="Confirm" name="confirm" id="confirm"/><br>
        <input type="email" placeholder="Email" name="email" id="email"/><br>
        <div id="buttons_login">
            <input type="button" id="register_button" class="button_panel_register" value="Register"/>
        </div>
    </form>
</div>